fixture==1.5.11
greenlet==1.1.1
importlib-metadata==4.8.1
importlib-resources==5.2.2
Mako==1.1.5
MarkupSafe==2.0.1
PyMySQL==1.0.2
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.0
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
six==1.16.0
SQLAlchemy==1.4.23
sqlalchemy-fixture==1.0
typing-extensions==3.10.0.1
XlsxWriter==3.0.1
zipp==3.5.0
